html, body {
    font-family: Lato, sans-serif;
    color: #424551;
    font-weight: 700;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.main__about {
    color: #1E212C;
    margin-top: 238px;
    margin-bottom: 180px;
}

.main__directions {}

.main__certificate {
    margin-bottom: -46px;
}

.heading {
    color: #1E212C;
}

.heading__subtitle {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.heading__title {
    font-size: 46px;
    font-weight: 900;
    line-height: 130%;
}

.heading--center {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 0px 40px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    color: #FFFFFF;
    line-height: 52px;
    transition: 0.3s;
    letter-spacing: 0.5px;
}

.button2 {
    display: inline-block;
    padding: 0px 40px;
    border: 2px solid rgba(255, 63, 58, 1);
    border-radius: 4px;
    color: rgba(255, 63, 58, 1);
    line-height: 52px;
    transition: 0.3s;
    letter-spacing: 0.5px;
    margin-right: 24px;
}

.button:hover, .button2:hover {
    transform: scale(1.05);
}


/* ------------------------------------ */

.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-weight: 700;
    background: url('/images/1header/bg-decor/Group\ 3.svg') 50% 50% no-repeat;
    background-size: cover;
    background-color: #FEDCD1;
}

.header__top-inner {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__logo {
    margin-right: 60px;
}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child {
    margin-right: 0px;
}

.header__link {
    line-height: 160%;
    transition: all 0.3s;
}

.header__link:hover {
    color: #FF3F3A;
}

.header__user-buttons {
    display: flex;
    align-items: center;
}

.header__btn-consultation {
    margin-right: 36px;
}


.header__logo-user {
    margin-right: 9.67px;

}

.header__btn-login:hover, .header__btn-register:hover {
    color: #F75E05;
    transition: all 0.3s;
}


.header__body {
    flex-grow: 1;
}

.header__body-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1E212C;
    margin: auto 0;
}

.header__play-btn {
    font-size: 14px;
}

.header__play-btn--play {
    display: inline-flex;
    align-items: center;
}

.header__play-img {
    border-radius: 50%;
    transition: all .3s;
}

.header__play-btn--play:hover svg {
    box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
}

.header__play-btn--Pshowreal {
    transition: 0.3s;
    margin-left: 16px;
}

.header__title {
    margin-top: 24px;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 1px;
    max-width: 500px;
}

.header__buttons {
    margin-top: 60px;
}

.header__row {
    margin-bottom: 80px;
}

.header__statistics {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__statistics>span {
    height: 8px;
    width: 8px;
    background-color: #FF3F3A;
    border-radius: 50%;
}

.header__statistics-item span {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    margin-right: 12px;
}

.header__statistics-item {
    display: flex;
    align-items: center;
}

/* ------------------ABOUT--------------- */




.about__createx {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;

}

.about__createx::before {
    position: absolute;
    content: "";
    top: -150px;
    right: -200px;
    background: url("/images/2about_us-sertificate/bg-decor/shapes.svg") 100px 85px;
    width: 100px;
    height: 85px;
}

.about__text {
    margin-top: 48px;
    margin-bottom: 60px;
    min-width: 600px;
}

.about__desc {
    font-weight: 400;
    line-height: 160%;
    color: #424551
}

.about_desc--accent {
    color: #1E212C;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 24px;
    line-height: 150%;
}

.about__values {
    margin-top: 169px;
    display: flex;
    justify-content: space-between;
}

.about__img-box {
    border-radius: 4px;
}

.about__img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__numbers {
    margin-left: 15px;
    align-self: center;
}

.about__value {
    display: flex;
    align-items: center;
}

.about__value span {
    margin-right: 16px;
    font-weight: 900;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 1px;
    color: #FF3F3A;
}

/* ----------------Дз---------------- */

.about__content:hover {
    transition: 0.5s;

    height: 500px;
    border-radius: 5%;
    border: 4px solid #FEDCD1;
    ;
    box-shadow: 0 0 10px 10px #FEDCD1;
    ;
}

.about__content:hover .heading__title {
    color: #F75E05;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.about__img:hover {
    animation: spin .5s linear 0s;
}

.creep {
    width: 100%;
    height: 100%;
}

--- .about__img-box {
    display: inline-block;
}

.about__imagelaptop {
    transition: all 4s ease;
}

.about__img-box:hover .about__imagelaptop {
    opacity: 0;
}

.about__img-box:hover {
    background: url("../images/creep.webp") no-repeat;
    background-size: 100% 100%;
}

.directions {}

.directions__inner {
    position: relative;
}

.directions__inner::after {
    position: absolute;
    content: "";
    top: 364px;
    right: -290px;
    background: url("/images/2about_us-sertificate/bg-decor/circles.svg");
    width: 242px;
    height: 242px;
}

.directions__inner::before {
    position: absolute;
    content: "";
    top: 30px;
    left: -200px;
    background: url("/images/2about_us-sertificate/bg-decor/tochki.svg");
    width: 136px;
    height: 114px;
}

.directions__title {}

.directions__main-title {
    margin-bottom: 90px;


}


.directions__body {}

.directions__filter-box {
    display: flex;
    margin-bottom: 57px;
}

.directions__filter-item {
    margin-right: 61px;
}

.directions__filter-item:last-child {
    margin-right: 0px;
}

.directions__filter-btn {
    background-color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #9A9CA5;
    border: 1px solid #9A9CA5;
    border-radius: 4px;
    padding: 5.5px 7px;
    transition: .2s;

}

.directions__filter-btn:hover {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border: none;
    padding: 6px 8px;
    color: whitesmoke;
}

.mixitup-control-active {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border: none;
    padding: 6px 8px;
    color: whitesmoke;
}

.directions__items {
    display: grid;
    grid-template: repeat(2, auto)/ repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 178px;
}

.directions__list-item {
    border: 1px solid #E5E8ED;
    border-radius: 4px;
    overflow: hidden;
    transition: all .4s;
}

.directions__list-item:hover {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    transition: all .2s;
}

.directions__list-link {

    transition: all .4s;
}

.directions__list-link:hover {
    color: #FF3F3A;
    transition: all .2s;

}

.directions__image-box {}

.directions__image-box img {
    height: 100%;
    width: 100%;
}

.directions__list-content {
    display: flex;
    flex-direction: column;
    padding: 24px;

}

.directions__content-btn {
    display: inline-block;
    margin-bottom: 20px;
    line-height: 160%;
    color: #FFFFFF;
    background-color: #9A9CA5;
    padding: 1.2px 7.7px;
    border-radius: 4px;
    align-self: flex-start;
}

.marketing {
    background-color: #03CEA4;
}

.management {
    background-color: #5A87FC;
}

.HR_Recruting {
    background-color: #F89828;
}

.Design {
    background-color: #F52F6E;
}

.Development {
    background: #7772F1;
}

.directions__text {
    margin-bottom: 21px;
    font-weight: 400;
    line-height: 160%;
    color: #787A80;
}

.directions__check-link {
    display: inline-block;
    display: flex;
    align-items: center;
}


.directions__check-link {}

.directions__btn-check {
    margin-right: 11px;
}

.directions__btn-arrow {
    display: flex;
    align-items: center;
}


.directions__list-item--empty {
    background-color: #F4F5F7;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;

}


.directions__list-item--empty>p {
    max-width: 242px;
    margin: 0
}

/* ---------------CERTIFICATE----------------- */

.certificate {}

.container {}

.certificate__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.certificate__inner::before {
    content: "";
    position: absolute;
    background: url("../images/2about_us-sertificate/bg-decor/shapes2.svg") 0 0 no-repeat;

    width: 60px;
    height: 60px;
    top: -20px;
    left: -255px;

}

.certificate__content {
    max-width: 392px;

}

.certificate__header {}

.heading {}

.certificate__header-subtitle {}

.heading__subtitle {}

.certificate__header-title {}

.heading__title {}

.certificate__text {
    margin-top: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    text-shadow: -1px -1px 0 hsl(32, 72%, 65%),
        -2px -2px 1px hsl(17, 81%, 81%);
}

.certificate__company-box {
    margin-top: 32px;
    display: flex;
    text-align: center;

}

.certificate__company-item {
    margin-right: 30px;
}

.certificate__company-item:last-child {
    margin-right: 0;
}


.certificate__img-box {
    width: 705px;
    min-height: 500px;
    margin-left: 135px;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    border-radius: 4px;
}

.certificate__img-box img {
    height: 100%;
    width: 100%;

}