/* -----------Псевдоклассы----------- */
body {
    background-color: #9e9b9b;
}

h1 {
    color: #454343;
    margin: 0.5em;
    font-size: 2em;
    font-weight: 1000;
}

.menu {
    width: 50vw;
    border: 5px solid #dbd5d5;
    margin: 5vh;
    font-size: 2rem;
}

.menu__item {
    margin-top: 10px;
    transition: all .2s;
}

.menu:hover {
    transition: .9s;
    box-shadow: 0px 0px 10px 10px #787575;
}

.menu__item:first-child:hover {
    background-color: red;
    color: rgb(242, 181, 113);
}

.menu__item:nth-child(n+2):hover {
    background-color: rgb(151, 245, 136);
    color: rgb(242, 181, 113);
}

/* -----------Псевдоэлементы----------- */


.title {
    display: inline-flex;
    position: relative;
    align-items: center;
    margin: 5px 20px;
    font-size: 2rem;
}

.title::before {
    display: inline-block;
    justify-content: center;
    margin-right: 0.5rem;
    border-radius: 50%;
    content: "";
    height: 10px;
    width: 10px;
    background-color: #7745f6;
    position: absolute;
    bottom: 8px;
    right: 135px;
}

.title::after {
    display: inline-block;
    justify-content: center;
    margin-left: 0.5rem;
    border-radius: 50%;
    content: "";
    height: 10px;
    width: 10px;
    background-color: #f66e45;
    position: absolute;
    bottom: 8px;
    left: 135px;

}